<h2>User {{user.firstName}}</h2>

<!--<form name="form" ng-submit="save(user);">-->
<form name="form">
    <button class="pull-right btn btn-danger" ng-click="remove(user)">Delete</button>

    <fieldset>
        <div>
            <label>Firstname</label>
            <input type="text" ng-model="user.firstName" ng-required />
        </div>

        <div>
            <label>Email</label>
            <input type="email" ng-model="user.email" ng-required />
        </div>
    </fieldset>

    <button class="btn btn-primary" ng-click="save(user);" ng-disabled="form.$invalid">Save</button>
</form>
<p>{{msg}}</p>
<a ng-href="/users">back</a>
